.outgoing-stanza, .text-area.outgoing-stanza .content {
    -fx-background-color: linear-gradient(to bottom, derive(#dee7ed, 25%) 0%, #dee7ed 90%);
}

.text-area.outgoing-stanza .content {
    -fx-background-color: linear-gradient(to bottom, derive(#dee7ed, 55%) 0%, derive(#dee7ed, 25%) 90%);
}

.incoming-stanza {
    -fx-background-color: linear-gradient(to bottom, derive(#e9edde, 25%) 0%, #e9edde 90%);
}

.text-area.incoming-stanza .content {
    -fx-background-color: linear-gradient(from 0px 0px to 0px 200px, derive(#e9edde, 55%) 0%, derive(#e9edde, 25%) 90%);
}

.error-stanza {
    -fx-background-color: linear-gradient(to bottom, derive(#ede3de, 25%) 0%, #ede3de 90%);
}

.outgoing-stanza.highlight-row {
    -fx-background-color: linear-gradient(to bottom, derive(#7ecdff, 25%) 0%, #7ecdff 90%);
}

.incoming-stanza.highlight-row {
    -fx-background-color: linear-gradient(to bottom, derive(#dfff8b, 25%) 0%, #dfff8b 90%);
}

.error-stanza.highlight-row {
    -fx-background-color: linear-gradient(to bottom, derive(#ffdecc, 25%) 0%, #ffdecc 90%);
}

.text-area, .stanza-cell {
    -fx-font-family: "Inconsolata";
    -fx-font-size: 11pt;
}

.table-view {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-padding: 0;
}

.table-row-cell:focused {
    -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
}

.arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 2 3.5 2 3.5 */
    -fx-shape: "M 100 100 L 300 100 L 200 300 z";
}

.label {
    -fx-font-weight: bold;
}

.presence {
    -fx-stroke: transparent;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0.5, 0.0, -5.0);
}

.available {
    -fx-fill: linear-gradient(from 50% 0% to 50% 100%, #afe619 0%, #9bcc16 100%);
}

.away {
    -fx-fill: linear-gradient(from 50% 0% to 50% 100%, #e6ac19 0%, #cc9916 100%);
}

.unavailable {
    -fx-fill: linear-gradient(from 50% 0% to 50% 100%, #e6e6e6 0%, #cccccc 100%);
}